<title>{if isset($title)}{$title}{/if}</title>
{if isset($favicon)}
    <link rel="shortcut icon" type="image/png" href="{$favicon}" />
{/if}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,nofollow">
<meta name="description" content="">
<meta name="author" content="Le Vinh Nghiem">
<link href="{WEBSITE_ROOT}vendors/components/bootstrap/css/bootstrap.min.css"
      rel="stylesheet">
<link href="{WEBSITE_ROOT}vendors/onokumus/metismenu/dist/metisMenu.min.css"
      rel="stylesheet">
<link href="{WEBSITE_ROOT}vendors/components/font-awesome/css/font-awesome.min.css"
      rel="stylesheet" type="text/css">
<link href="{WEBSITE_ROOT}vendors/iron-summit-media/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css"
      rel="stylesheet">
<link href="{WEBSITE_ROOT}admin-res/styles/styles.css"
      rel="stylesheet">
<!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript"
        src="{WEBSITE_ROOT}vendors/components/jquery/jquery.min.js">
</script>
<script type="text/javascript"
        src="{WEBSITE_ROOT}vendors/components/bootstrap/js/bootstrap.min.js">
</script>
<script type="text/javascript"
        src="{WEBSITE_ROOT}vendors/onokumus/metismenu/dist/metisMenu.min.js">
</script>
<script type="text/javascript"
        src="{WEBSITE_ROOT}vendors/iron-summit-media/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js">
</script>
<script type="text/javascript"
        src="{WEBSITE_ROOT}libraries/jqueryvalidation/JqueryValidation/jquery.validate.min.js">
</script>
