<!DOCTYPE html>
<html lang="en">
    <head>{include file="user/public/Head.html"}</head>
    <body>
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    {include file="user/public/Alerts.html"}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    {block name="body"}{/block}
                </div>
            </div>
        </div>
    </body>
</html>
