<form method="post" id="add-filter-form" accept-charset="utf-8" show="loading">
    <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
    <div class="modal fade" id="add-filter-modal" role="dialog"
         aria-labelledby="AddFilterModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="AddFilterModalLabel">
                        {$res->i18n->addFilter}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding: 20px 20px 20px 20px">
                        <span><b>{$res->i18n->name}</b></span>
                        <div class="form-group input-group">
                            <input type="text" class="form-control required"
                                   id="add-filter-name" name="add_filter_name" />
                            <span class="input-group-addon">
                                <i class="fa fa-font"></i>
                            </span>
                        </div>
                        <span><b>{$res->i18n->columns}</b></span>
                        <div class="form-group input-group">
                            <select multiple="multiple"
                                    class="form-control required" style="width: 100%"
                                    id="add-filter-columns" name="add_filter_columns[]">
                                {foreach $allFields as $field}
                                    {if !in_array($field['type'], array('have', 'has'))}
                                        <option value="{$field['id']}">
                                            {$field["single`$smarty.session.lzalanguage`"]}
                                        </option>
                                    {/if}
                                {/foreach}
                            </select>
                            <span class="input-group-addon">
                                <i class="fa fa-list"></i>
                            </span>
                        </div>
                        <span><b>{$res->i18n->conditions}</b></span>
                        <div class="form-group input-group hide">
                            <input type="text" class="form-control"
                                   id="add-filter-conditions" name="add_filter_conditions" />
                            <span class="input-group-addon">
                                <i class="fa fa-font"></i>
                            </span>
                        </div>
                        <div id="add-filter-conditions-builder"></div>
                        <script type="text/javascript">
                        $('#add-filter-conditions-builder').queryBuilder(
                        {
                            sortable: true,
                            filters:
                            [
                                {foreach $allFields as $field}
                                    {if in_array(
                                        $field['type'],
                                        ['text', 'link', 'email', 'phone']
                                     )}
                                    {
                                        id: '{"`$table['id']`.`$field['field']`"}',
                                        label: '{$field["single`$smarty.session.lzalanguage`"]}',
                                        type: 'string',
                                        operators:
                                        [
                                            'equal',
                                            'not_equal',
                                            'less',
                                            'less_or_equal',
                                            'greater',
                                            'greater_or_equal',
                                            'between',
                                            'not_between',
                                            'begins_with',
                                            'not_begins_with',
                                            'contains',
                                            'not_contains',
                                            'ends_with',
                                            'not_ends_with',
                                            'is_empty',
                                            'is_not_empty',
                                            'is_null',
                                            'is_not_null'
                                        ],
                                        input: 'text'
                                    },
                                    {elseif in_array($field['type'], ['textarea', 'html'])}
                                    {
                                        id: '{"`$table['id']`.`$field['field']`"}',
                                        label: '{$field["single`$smarty.session.lzalanguage`"]}',
                                        type: 'string',
                                        operators:
                                        [
                                            'equal',
                                            'not_equal',
                                            'less',
                                            'less_or_equal',
                                            'greater',
                                            'greater_or_equal',
                                            'between',
                                            'not_between',
                                            'begins_with',
                                            'not_begins_with',
                                            'contains',
                                            'not_contains',
                                            'ends_with',
                                            'not_ends_with',
                                            'is_empty',
                                            'is_not_empty',
                                            'is_null',
                                            'is_not_null'
                                        ],
                                        input: 'textarea'
                                    },
                                    {elseif in_array($field['type'], ['integer'])}
                                    {
                                        id: '{"`$table['id']`.`$field['field']`"}',
                                        label: '{$field["single`$smarty.session.lzalanguage`"]}',
                                        type: 'integer',
                                        operators:
                                        [
                                            'equal',
                                            'not_equal',
                                            'less',
                                            'less_or_equal',
                                            'greater',
                                            'greater_or_equal',
                                            'between',
                                            'not_between',
                                            'begins_with',
                                            'not_begins_with',
                                            'contains',
                                            'not_contains',
                                            'ends_with',
                                            'not_ends_with',
                                            'is_empty',
                                            'is_not_empty',
                                            'is_null',
                                            'is_not_null'
                                        ],
                                        input: 'number'
                                    },
                                    {elseif in_array($field['type'], ['float','double'])}
                                    {
                                        id: '{"`$table['id']`.`$field['field']`"}',
                                        label: '{$field["single`$smarty.session.lzalanguage`"]}',
                                        type: 'double',
                                        operators:
                                        [
                                            'equal',
                                            'not_equal',
                                            'less',
                                            'less_or_equal',
                                            'greater',
                                            'greater_or_equal',
                                            'between',
                                            'not_between',
                                            'begins_with',
                                            'not_begins_with',
                                            'contains',
                                            'not_contains',
                                            'ends_with',
                                            'not_ends_with',
                                            'is_empty',
                                            'is_not_empty',
                                            'is_null',
                                            'is_not_null'
                                        ],
                                        input: 'number'
                                    },
                                    {elseif in_array($field['type'], ['date'])}
                                    {
                                        id: '{"`$table['id']`.`$field['field']`"}',
                                        label: '{$field["single`$smarty.session.lzalanguage`"]}',
                                        type: 'date',
                                        operators:
                                        [
                                            'equal',
                                            'not_equal',
                                            'less',
                                            'less_or_equal',
                                            'greater',
                                            'greater_or_equal',
                                            'between',
                                            'not_between',
                                            'is_null',
                                            'is_not_null'
                                        ],
                                        input: 'text',
                                        plugin: 'datetimepicker',
                                        plugin_config: {
                                            format: '{DATE_FORMAT}',
                                            timepicker: false
                                        }
                                    },
                                    {elseif in_array($field['type'], ['datetime','eventstart','eventend'])}
                                    {
                                        id: '{"`$table['id']`.`$field['field']`"}',
                                        label: '{$field["single`$smarty.session.lzalanguage`"]}',
                                        type: 'datetime',
                                        operators:
                                        [
                                            'equal',
                                            'not_equal',
                                            'less',
                                            'less_or_equal',
                                            'greater',
                                            'greater_or_equal',
                                            'between',
                                            'not_between',
                                            'is_null',
                                            'is_not_null'
                                        ],
                                        input: 'text',
                                        plugin: 'datetimepicker',
                                        plugin_config: {
                                            format: 'DATETIME_FORMAT',
                                            timepicker: true
                                        }
                                    },
                                    {elseif in_array($field['type'], ['checkbox'])}
                                    {
                                        id: '{"`$table['id']`.`$field['field']`"}',
                                        label: '{$field["single`$smarty.session.lzalanguage`"]}',
                                        type: 'integer',
                                        operators: ['equal'],
                                        input: 'radio',
                                        values: { 1 : 'Yes', 2: 'No' }
                                    },
                                    {elseif in_array($field['type'], ['enum'])}
                                    {
                                        id: '{"`$table['id']`.`$field['field']`"}',
                                        label: '{$field["single`$smarty.session.lzalanguage`"]}',
                                        type: 'string',
                                        operators:
                                        [
                                            'equal',
                                            'not_equal',
                                            'is_null',
                                            'is_not_null'
                                        ],
                                        input: 'select',
                                        values: {$field['display']}
                                    },
                                    {elseif in_array($field['type'], ['belong'])}
                                        {assign var=refTable value=$field['field']}
                                        {foreach $database->lzafield('lzamodule.id = ?', $refTable) as $refField}
                                            {if in_array(
                                                $refField['type'],
                                                ['text', 'link', 'email', 'phone']
                                             )}
                                            {
                                                id: '{"`$refTable`.`$refField['field']`"}',
                                                label: '{"`$field["single`$smarty.session.lzalanguage`"]` `$refField["single`$smarty.session.lzalanguage`"]`"}',
                                                type: 'string',
                                                operators:
                                                [
                                                    'equal',
                                                    'not_equal',
                                                    'less',
                                                    'less_or_equal',
                                                    'greater',
                                                    'greater_or_equal',
                                                    'between',
                                                    'not_between',
                                                    'begins_with',
                                                    'not_begins_with',
                                                    'contains',
                                                    'not_contains',
                                                    'ends_with',
                                                    'not_ends_with',
                                                    'is_empty',
                                                    'is_not_empty',
                                                    'is_null',
                                                    'is_not_null'
                                                ],
                                                input: 'text'
                                            },
                                            {elseif in_array(
                                                $refField['type'],
                                                ['textarea', 'html']
                                             )}
                                            {
                                                id: '{"`$refTable`.`$refField['field']`"}',
                                                label: '{"`$field["single`$smarty.session.lzalanguage`"]` `$refField["single`$smarty.session.lzalanguage`"]`"}',
                                                type: 'string',
                                                operators:
                                                [
                                                    'equal',
                                                    'not_equal',
                                                    'less',
                                                    'less_or_equal',
                                                    'greater',
                                                    'greater_or_equal',
                                                    'between',
                                                    'not_between',
                                                    'begins_with',
                                                    'not_begins_with',
                                                    'contains',
                                                    'not_contains',
                                                    'ends_with',
                                                    'not_ends_with',
                                                    'is_empty',
                                                    'is_not_empty',
                                                    'is_null',
                                                    'is_not_null'
                                                ],
                                                input: 'textarea'
                                            },
                                            {elseif in_array($refField['type'], ['integer'])}
                                            {
                                                id: '{"`$refTable`.`$refField['field']`"}',
                                                label: '{"`$field["single`$smarty.session.lzalanguage`"]` `$refField["single`$smarty.session.lzalanguage`"]`"}',
                                                type: 'integer',
                                                operators:
                                                [
                                                    'equal',
                                                    'not_equal',
                                                    'less',
                                                    'less_or_equal',
                                                    'greater',
                                                    'greater_or_equal',
                                                    'between',
                                                    'not_between',
                                                    'begins_with',
                                                    'not_begins_with',
                                                    'contains',
                                                    'not_contains',
                                                    'ends_with',
                                                    'not_ends_with',
                                                    'is_empty',
                                                    'is_not_empty',
                                                    'is_null',
                                                    'is_not_null'
                                                ],
                                                input: 'number'
                                            },
                                            {elseif in_array($refField['type'], ['float','double'])}
                                            {
                                                id: '{"`$refTable`.`$refField['field']`"}',
                                                label: '{"`$field["single`$smarty.session.lzalanguage`"]` `$refField["single`$smarty.session.lzalanguage`"]`"}',
                                                type: 'double',
                                                operators:
                                                [
                                                    'equal',
                                                    'not_equal',
                                                    'less',
                                                    'less_or_equal',
                                                    'greater',
                                                    'greater_or_equal',
                                                    'between',
                                                    'not_between',
                                                    'begins_with',
                                                    'not_begins_with',
                                                    'contains',
                                                    'not_contains',
                                                    'ends_with',
                                                    'not_ends_with',
                                                    'is_empty',
                                                    'is_not_empty',
                                                    'is_null',
                                                    'is_not_null'
                                                ],
                                                input: 'number'
                                            },
                                            {elseif in_array($refField['type'], ['date'])}
                                            {
                                                id: '{"`$refTable`.`$refField['field']`"}',
                                                label: '{"`$field["single`$smarty.session.lzalanguage`"]` `$refField["single`$smarty.session.lzalanguage`"]`"}',
                                                type: 'date',
                                                operators:
                                                [
                                                    'equal',
                                                    'not_equal',
                                                    'less',
                                                    'less_or_equal',
                                                    'greater',
                                                    'greater_or_equal',
                                                    'between',
                                                    'not_between',
                                                    'is_null',
                                                    'is_not_null'
                                                ],
                                                input: 'text'
                                            },
                                            {elseif in_array(
                                                $refField['type'],
                                                ['datetime','eventstart','eventend']
                                             )}
                                            {
                                                id: '{"`$refTable`.`$refField['field']`"}',
                                                label: '{"`$field["single`$smarty.session.lzalanguage`"]` `$refField["single`$smarty.session.lzalanguage`"]`"}',
                                                type: 'datetime',
                                                operators:
                                                [
                                                    'equal',
                                                    'not_equal',
                                                    'less',
                                                    'less_or_equal',
                                                    'greater',
                                                    'greater_or_equal',
                                                    'between',
                                                    'not_between',
                                                    'is_null',
                                                    'is_not_null'
                                                ],
                                                input: 'text'
                                            },
                                            {elseif in_array($refField['type'], ['checkbox'])}
                                            {
                                                id: '{"`$refTable`.`$refField['field']`"}',
                                                label: '{"`$field["single`$smarty.session.lzalanguage`"]` `$refField["single`$smarty.session.lzalanguage`"]`"}',
                                                type: 'integer',
                                                operators: ['equal'],
                                                input: 'radio',
                                                values: { 1 : 'Yes', 2: 'No' }
                                            },
                                            {elseif in_array($refField['type'], ['enum'])}
                                            {
                                                id: '{"`$refTable`.`$refField['field']`"}',
                                                label: '{"`$field["single`$smarty.session.lzalanguage`"]` `$refField["single`$smarty.session.lzalanguage`"]`"}',
                                                type: 'string',
                                                operators:
                                                [
                                                    'equal',
                                                    'not_equal',
                                                    'is_null',
                                                    'is_not_null'
                                                ],
                                                input: 'select',
                                                values: {$refField['display']}
                                            },
                                            {/if}
                                        {/foreach}
                                    {/if}
                                {/foreach}
                            ]
                        });
                        </script>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action"
                            value="AddFilter" class="btn btn-success">
                        {$res->i18n->add}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
