<div class="modal fade" id="export-modal" role="dialog"
     aria-labelledby="ExportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ExportModalLabel">
                {$res->i18n->exportItemsToExcel($table["plural`$smarty.session.lzalanguage`"])}
                </h4>
            </div>
            <form id="export-form" name="export_form" method="post" target="_blank" accept-charset="utf-8">
                <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
                <div class="modal-body">
                    <div class="row" style="padding: 20px 20px 20px 20px">
                        <div class="col-lg-6">
                            <span id="title-export" title="{$res->i18n->format}"
                                  data-original-title="{$res->i18n->format}"
                                  data-toggle="tooltip"
                                  data-placement="top">
                                <b>{$res->i18n->format}</b>
                            </span>
                            <div class="form-group input-group">
                                <select class="form-control" id="export-type" name="export_type">
                                    <option value="xlsx">XLSX</option>
                                    <option value="ods">ODS</option>
                                    <option value="csv">CSV</option>
                                </select>
                                <span class="input-group-addon">
                                    <i class="fa fa-list"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <span id="title-export"
                                  data-original-title="{$res->i18n->exportAllVersions}"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  title="{$res->i18n->exportAllVersions}">
                                <b>{$res->i18n->exportAllVersions}</b>
                            </span>
                             <div class="form-group input-group">
                                 <input type="checkbox" bootstrap="bootstrap"
                                        id="export_export_all_version"
                                        name="export_export_all_version" />
                             </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button id="export-button" type="submit"
                            name="action" value="Export"
                            class="btn btn-success">
                        {$res->i18n->export($table["plural`$smarty.session.lzalanguage`"])}
                    </button>
                    <button class="btn btn-outline btn-default" data-dismiss="modal">
                        {$res->i18n->cancel}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
