<form id="{$id}" name="{$name}" method="post" accept-charset="utf-8" show="loading">
    {$tokenField}
    <div class="modal-body">
        <div class="row" style="padding: 20px 20px 20px 20px">
            <div class="col-lg-12">
                <span id="title-import" title="{$importLabel}"
                      data-original-title="{$importLabel}"
                      data-toggle="tooltip" data-placement="top">
                    <b>{$importLabel}</b>
                    <b class="text-danger">*</b>
                </span>
                <div class="form-group input-group">
                    <input type="text" id="import" name="import"
                           style="height: 100%" class="form-control required"
                           placeholder="{$inputLabel}" />
                    <span class="input-group-addon">
                        <button id="import-button" type="button" style="border: none">
                            <i class="fa fa-folder-open"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <span id="title-on-duplicated"
                      data-original-title="{$onDuplicatedLabel}"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{$onDuplicatedLabel}">
                    <b>{$onDuplicatedLabel}</b>
                </span>
                <div class="form-group input-group">
                    <select class="form-control" id="on-duplicated" name="on_duplicated">
                        <option value="update">{$updateLabel}</option>
                        <option value="ignore">{$ignoreLabel}</option>
                    </select>
                    <span class="input-group-addon">
                        <i class="fa fa-list"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <span id="title-truncate"
                      data-original-title="{$truncateLabel}"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{$truncateLabel}">
                    <b>{$truncateLabel}</b>
                </span>
                <div class="form-group input-group">
                    <input type="checkbox" bootstrap="bootstrap"
                           id="truncate-all" name="truncate_all" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {$importButton}&nbsp;
        <button class="btn btn-outline btn-default" data-dismiss="modal">
            {$cancelLabel}
        </button>
    </div>
</form>