{if count($filters) > 0}
    <div class="row">
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <form method="post" id="select-filter-form" show="loading">
                <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
                    <div class="form-group input-group">
                    <select class="form-control" id="list-filter" name="list_filter">
                        <option value="0">{$res->i18n->defaultFilter}</option>
                        {foreach $filters as $filter}
                            <option value="{$filter['id']}"
                                {if isset($smarty.session.user.user_filter.{$res->env->module}) &&
                                    $smarty.session.user.user_filter.{$res->env->module} == $filter['id']}
                                    selected="selected"
                                {/if}>
                                {$filter['name']}
                                <a href="/lzaadmin">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </option>
                        {/foreach}
                    </select>
                    {if isset($smarty.session.user.user_filter.{$res->env->module}) &&
                        $smarty.session.user.user_filter.{$res->env->module} != 0}
                        <a class="input-group-addon"
                           data-toggle="modal"
                           data-target="#edit-filter-modal-{$smarty.session.user.user_filter.{$res->env->module}}"><i class="fa fa-pencil"></i>
                        </a>
                    {/if}
                </div>
            </form>
        </div>
    </div>
{/if}
