<div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
    <div style="margin: auto; width: 800px;">
        <div class="contact_medsure">
            <div style="font-size:14px; line-height:25px;">
                <p>{#support#}</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{CLIENT_RES_PATH}images/icon-phone.png" class="icon_contact">
                    <font color="blue">
                        <b><a href="tel:842873069669">(+84 28) 7306 9669</a></b>
                    </font>
                </div>
                <div class="col-md-6">
                    <img src="{CLIENT_RES_PATH}images/icon-mail.png" class="icon_contact">
                    <font color="blue">
                        <b><a href="mailto:inquiry@pacificcross.com.vn">inquiry@pacificcross.com.vn</a></b>
                    </font>
                </div>
            </div>
        </div>
    </div>
</div>