<nav class="navbar navbar-default navbar-fixed-top">
    <div id="navbar" class="navbar-collapse collapse">
        <a class="navbar-nav newver" target="_blank"
           style="height: auto;" href="{WEBSITE_ROOT}">
            <img src="{CLIENT_RES_PATH}images/logo.png">
        </a>
        <div class="navbar-nav dropdown_menu visible-lg-block">
            <li class="dropdown">
                <a class="dropbtn menu-anchor"
                   href="{WEBSITE_ROOT}">
                    {#home#}
                </a>
            </li>
            {if isset($smarty.session.search)}
                <li class="dropdown">
                    <a class="dropbtn menu-anchor"
                       href="{WEBSITE_ROOT}{$smarty.session.search.company}-gop-list">
                        {#gop_list#}
                    </a>
                </li>
            {/if}
            <li class="dropdown">
                <a class="dropbtn menu-anchor"
                   href="{WEBSITE_ROOT}change-password">
                    {#changepass#}
                </a>
            </li>
            <li class="dropdown">
                <a class="dropbtn menu-anchor"
                   href="{WEBSITE_ROOT}resources/files/help.pdf">
                    {#help#}
                </a>
            </li>
            <li class="dropdown">
                <form method="post" style="margin: 0">
                    <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
                    <input type="hidden" name="language"
                           value="{if strcmp($smarty.session.lzalanguage, '') == 0}_vi{else}_en{/if}" />
                    <button class="dropbtn" type="Submit" name="action" value="ChangeLanguage">
                        {if strcmp($smarty.session.lzalanguage, '') == 0}
                            Tiếng Việt
                        {else}
                            English
                        {/if}
                    </button>
                </form>
            </li>
            <li class="dropdown">
                <a class="dropbtn menu-anchor"
                   href="{WEBSITE_ROOT}login?action=Logout&{$smarty.session.token_name}_token={$smarty.session.token_value}">
                    {#logout#}
                </a>
            </li>
        </div>
        <div class="navbar-right welcome_text visible-lg-block">
            <strong>{#welcome#},</strong> {$fullname}
        </div>
    </div>
</nav>
<header role="banner">
    <div class="drawer-header visible-md visible-sm visible-xs"
         style="display: block;">
        <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
        </button>
    </div>
    <div class="drawer-main drawer-default">
        <nav class="drawer-nav" role="navigation">
            <div class="drawer-brand">
                <a href="{WEBSITE_ROOT}">PCV</a>
            </div>
            <ul class="drawer-menu side_drawer_menu">
                <li class="drawer-menu-item">
                    <a href="{WEBSITE_ROOT}">{#home#}</a>
                </li>
                {if isset($smarty.session.search)}
                    <li class="drawer-menu-item">
                        <a href="{WEBSITE_ROOT}gop-list">{#gop_list#}</a>
                    </li>
                {/if}
                <li class="drawer-menu-item">
                    <a href="{WEBSITE_ROOT}resources/files/help.pdf}">{#help#}</a>
                </li>
                <li class="drawer-menu-item">
                    <a href="{WEBSITE_ROOT}login?action=Logout&{$smarty.session.token_name}_token={$smarty.session.token_value}">{#logout#}</a>
                </li>
                <li class="drawer-menu-item">
                    <form method="post" style="margin: 0">
                        <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
                        <input type="hidden" name="language"
                               value="{if strcmp($smarty.session.lzalanguage, '') == 0}_vi{else}_en{/if}" />
                        <button class="dropbtn" type="Submit" name="action" value="ChangeLanguage"
                                style="background: transparent; padding: 0; margin: 0">
                            {if strcmp($smarty.session.lzalanguage, '') == 0}
                                Tiếng Việt
                            {else}
                                English
                            {/if}
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</header>
<script type="text/javascript" src="{WEBSITE_ROOT}resources/scripts/draw_submenu.js"></script>
