{config_load file="lang`$smarty.session.lzalanguage`.txt"}
<!DOCTYPE html>
<html class="preloaded">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{$title}</title>
        <link rel="shortcut icon" href="{CLIENT_RES_PATH}images/logo.png">
        {foreach $styles['body'] as $style}
            <link href="{$style}" rel="stylesheet">
        {/foreach}
        {foreach $styles['master'] as $style}
            <link href="{$style}" rel="stylesheet">
        {/foreach}
        <link rel="stylesheet" type="text/css" media="print" href="{CLIENT_RES_PATH}styles/print.css">
        {foreach $scripts['master'] as $script}
            <script type="text/javascript" src="{$script}"></script>
        {/foreach}
        {foreach $scripts['body'] as $script}
            <script type="text/javascript" src="{$script}"></script>
        {/foreach}
    </head>
    <body class="drawer-right">
        <div class="modal fade" id="myModal">
            <div id="loading">
                {if isset($smarty.session.token_name)}
                    <input type="hidden" id="token-name" value="{$smarty.session.token_name}">
                    <input type="hidden" id="token-value" value="{$smarty.session.token_value}">
                {/if}
                <img src="{CLIENT_RES_PATH}images/loading.gif" alt="loading">
            </div>
        </div>
        {block name=body}{/block}
        {if strlen($debugAlert) > 0 && DEBUG_ERROR}
            <div class="alert alert-dismissable"
                 style="margin-top: 30px">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                {$debugAlert}.
            </div>
        {/if}
    </body>
</html>
