<div id="wrapper" {if $smarty.session.menu_collapse}class="toggled"{/if}>
    <nav class="navbar navbar-default navbar-static-top"
         role="navigation" style="margin-bottom: 0">
        {include file="$header"}
        {include file="$sidebar"}
    </nav>
    <div id="page-wrapper">
        <div class="sidebar-toggle-button">
            <a id="menu-toggle">
                <i id="menu-toggle-icon"
                   class="fa fa-chevron-{if $smarty.session.menu_collapse}right{else}left{/if}"></i>
            </a>
        </div>
        <div class="container-fluid">
            <div class="row">
                {include file="public/Alerts.html"}
                <div class="col-lg-12">
                    {block name=body}{/block}
                </div>
            </div>
        </div>
    </div>
</div>
{if strlen($debugAlert) > 0 && DEBUG_ERROR}
    <div class="alert alert-dismissable" style="margin-top: 30px">
        <button type="button" class="close"
                data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        {$debugAlert}.
    </div>
{/if}
