<title>{if isset($title)}{$title}{/if}</title>
{if isset($favicon)}
    <link rel="shortcut icon" type="image/png" href="{$favicon}"/>
{/if}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,nofollow">
<meta name="description" content="">
<meta name="author" content="Le Vinh Nghiem">
{foreach $styles['body'] as $style}
    <link href="{$style}" rel="stylesheet">
{/foreach}
{foreach $styles['master'] as $style}
    <link href="{$style}" rel="stylesheet">
{/foreach}
<!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{foreach $scripts['master'] as $script}
    <script type="text/javascript" src="{$script}"></script>
{/foreach}
{foreach $scripts['body'] as $script}
    <script type="text/javascript" src="{$script}"></script>
{/foreach}
<style>
.error {
    color: red;
    float:right;
    text-align: right;
}
</style>
