<div class="navbar-header">
    <button type="button" class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse">
        <span class="sr-only">
            {$res->i18n->toggleNavigation}
        </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{$regionPath}">
        <b>
            <i class="fa fa-sliders"></i>
            {$res->i18n->adminPanel}
        </b>
    </a>
</div>
<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>
            {$fullname}
            <i class="fa fa-caret-down"></i>
        </a>
        {if isset($fullname)}
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="{$regionPath}/change-password">
                        <i class="fa fa-gear fa-fw"></i>
                        {$res->i18n->changePassword}
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{$regionPath}/logout?{$smarty.session.token_name}_token={$smarty.session.token_value}">
                        <i class="fa fa-sign-out fa-fw"></i>
                        {$res->i18n->logout}
                    </a>
                </li>
            </ul>
        {/if}
    </li>
</ul>
{if ($languages != false) && count($languages) > 1}
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-language fa-fw"></i>
                {$res->i18n->language}
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
                {assign var=i value=0}
                {foreach $languages as $id => $language}
                    {if $i > 0}
                        <li class="divider"></li>
                    {/if}
                    {$i = $i + 1}
                    <form method="post" show="loading">
                        <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
                        <li>
                            <input type="hidden" name="language" value="{$language['code']}" />
                            <button type="submit"
                                    style="padding: 2px 20px"
                                    class="btn btn-outline btn-md"
                                    name="action" value="ChangeLanguage">
                                <i class="fa fa-globe fa-fw"></i>
                                {$language['name']}
                            </button>
                        </li>
                    </form>
                {/foreach}
            </ul>
        </li>
    </ul>
{/if}
