<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-navicon fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{$itemCounts['All']}</div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span class="pull-left text-primary">{$res->i18n->allItems}</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-plus-square fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{$itemCounts['Created']}</div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span class="pull-left text-success">{$res->i18n->newItems}</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-edit fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{$itemCounts['Updated']}</div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span class="pull-left text-warning">{$res->i18n->updatedItems}</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-trash fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">{$itemCounts['Deleted']}</div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span class="pull-left text-danger">{$res->i18n->deletedItems}</span>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
