{extends file="public/Master.html"}
{block name=body}
    {if !$prohibit}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {$res->i18n->showItem($table["single`$smarty.session.lzalanguage`"])}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    {if isset($options['history']) && $options['history'] !== false}
                        {$versionsForm}
                    {else}
                        <div class="panel-heading">
                            <i class="fa fa-{$table['icon']}"></i>
                            {$itemLabel}
                        </div>
                    {/if}
                    <div class="panel-body" id="version-latest">
                        <div class="row">
                            {$showForm}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/if}
{/block}
