{extends file="public/Master.html"}
{block name=body}
{include file="public/Header.html"}
<div id="gain_content" style="display: inline;">
    {include file="pcvdetails/Sidebar.html"}
    {include file="pcvdetails/Details.html"}
    <script type="text/javascript" src="{WEBSITE_ROOT}resources/scripts/accept_condition.js"></script>
    {if strlen($errorAlert) > 0}
        {include file="pcvdetails/Modal.html"}
    {/if}
</div>
<div class="drawer-overlay-upper drawer-toggle"></div>
<div id="claim-info" class="col-xs-12 col-lg-12 col-md-12 col-sm-12"></div>
<div id="call-info" class="col-xs-12 col-lg-12 col-md-12 col-sm-12"></div>
<div id="error-info"></div>
<input type="hidden" id="is-pcv" value="{if $isPcv}yes{else}no{/if}">
<script type="text/javascript" src="resources/scripts/claim_list.js"></script>
{/block}
