{config_load file="lang`$smarty.session.lzalanguage`.txt"}
{if count($callLogs) > 0}
    <h4>{#call_table#} {$smarty.session.search.memb_ref_no} - {$smarty.session.search.mbr_name}</h4>
    <table class="table table-striped table-bordered table-hover text-center" id="call-info-table">
        <thead>
            <tr>
                <th class="text-center">No.</th>
                <th class="text-center">{#call_time#}</th>
                <th class="text-center">{#tel_no#}</th>
                <th class="text-center">{#description#}</th>
                <th class="text-center">{#action#}</th>
            </tr>
        </thead>
        <tbody>
            {foreach $callLogs as $no => $callLog}
                <tr>
                    <td class="text-right">{$no + 1}</td>
                    <td class="text-center">{$callLog['call_time']}</td>
                    <td class="text-center">{$callLog['tel_no']}</td>
                    <td class="text-left">{nl2br($callLog['description'])}</td>
                    <td class="text-center"><a href="{FUBON_ETALK_URL}/view.php?id={$callLog['id']}" target="_blank">Health eTalk</a></a></td>
                </tr>
            {/foreach}
        </tbody>
    </table>
    <script type="text/javascript">$('#call-info-table').DataTable();</script>
{/if}