<div class="modal fade" id="error-modal" role="dialog"
     aria-labelledby="error-modal-label" aria-hidden="true"
     tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="error-modal-label">{#warning#}</h4>
            </div>
            <div class="modal-body">
                <div style="padding-bottom:12px;">{$errorAlert}</div>
                <input type="checkbox" name="accept_condition" value="accept" id="accept_condition">
                <label for="accept_condition" style="font-weight:normal">{#accept#}</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal" id="modal_close_button"
                        disabled="" style="background-color: #d8d8d8; border-color: #c9c9c9; color: #ffffff;">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{WEBSITE_ROOT}resources/scripts/error_alert.js"></script>
