.custom-date-style {
    background-color: red !important;
}
.input{    
}
.input-wide{
    width: 500px;
}
span.select2-selection{
    height: auto !important;
    padding: 3px;
    width: 100%;
}
.row {
    padding: 15px;
}