ul.jqtree-tree li {
    padding-top: 10px;
}
.btn-group > .btn:first-child {
    min-width: 100px;
}
.btn-group > i {
    display: none;
}
.btn-group > i:hover {
    display: bock;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: none !important;
}