<form method="post" id="form-add-area" show="loading">
    <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
    <div class="modal fade" id="add-area-modal" role="dialog"
         aria-labelledby="AddAreaModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="AddAreaModalLabel">
                        {$res->i18n->addStatistic}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding: 20px 20px 20px 20px">
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                {$res->i18n->name}
                            </span>
                            <input type="text" class="form-control"
                                   id="add-area-name" name="add_name" />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                {$res->i18n->field}
                            </span>
                            <select class="form-control"
                                    id="add-area-field" name="add_field">
                                {foreach $fields as $field}
                                    {if in_array(
                                        $field['type'],
                                        ['date', 'datetime', 'eventstart', 'eventend']
                                     )}
                                        <option value="{$field['id']}">
                                            {$field["single`$smarty.session.lzalanguage`"]}
                                        </option>
                                    {/if}
                                {/foreach}
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">{$res->i18n->type}</span>
                            <select class="form-control" id="add-area-type" name="add_type">
                                <option value="Yearly Area Chart">
                                    {$res->i18n->chartAreaYearly}
                                </option>
                                <option value="Quarterly Area Chart">
                                    {$res->i18n->chartAreaQuarterly}
                                </option>
                                <option value="Monthly Area Chart">
                                    {$res->i18n->chartAreaMonthly}
                                </option>
                                <option value="Weekly Area Chart">
                                    {$res->i18n->chartAreaWeekly}
                                </option>
                                <option value="Daily Area Chart">
                                    {$res->i18n->chartAreaDaily}
                                </option>
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                {$res->i18n->extra}
                            </span>
                            <input type="text" class="form-control"
                                   id="add-area-extra" name="add_extra" />
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                {$res->i18n->width}
                            </span>
                            <select class="form-control"
                                    id="add-area-width" name="add_width">
                                <option value="6">
                                    {$res->i18n->sizeSmall}
                                </option>
                                <option value="12">
                                    {$res->i18n->sizeLarge}
                                </option>
                            </select>
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon">
                                {$res->i18n->order}
                            </span>
                            <input type="text" class="form-control" value="1"
                                   id="add-area-order" name="add_order" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"
                            name="action" value="AddLineAreaChart">
                        {$res->i18n->add}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
