{foreach $statistics as $statistic}
    <div class="col-lg-{$statistic['width']}">
        <div class="panel panel-default">
            <div class="panel-heading">
                {$statistic['name']}
                <div class="pull-right">
                    <div class="btn-group">
                        <button title="{$res->i18n->edit}" type="button"
                                class="btn btn-default btn-sm list-button group-buttons"
                                data-toggle="modal"
                                data-target="#edit-modal-{$statistic['id']}">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button title="{$res->i18n->delete}" type="button"
                                class="btn btn-default btn-sm list-button group-buttons"
                                data-toggle="modal"
                                data-target="#delete-modal-{$statistic['id']}">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-chart-{$statistic['id']}"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function()
    {
        var data = {$res->encryptor->jsonEncode($statistic['statistic_items'])};
        var plotObj = $.plot($("#flot-chart-{$statistic['id']}"), data,
        {
            grid:
            {
                hoverable: true
            },
            tooltip: true,
            {if $statistic['type'] == 'Pie Chart'}
                series:
                {
                    pie:
                    {
                        show: true
                    }
                },
                tooltipOpts:
                {
                    content: "%s: %p.0%",
                    shifts:
                    {
                        x: 20,
                        y: 0
                    },
                    defaultTheme: false
                }
            {elseif in_array($statistic['type'], ['Horizontal Bar Chart'])}
                series:
                {
                    bars:
                    {
                        horizontal: true,
                        show: true,
                        barWidth: 0.5,
                        lineWidth: 1,
                        align: "center"
                    }
                },
                yaxis:
                {
                    mode: "categories",
                    tickLength: 0
                },
                tooltipOpts:
                {
                    content: "%y: %x",
                    shifts:
                    {
                        x: 20,
                        y: 0
                    },
                    defaultTheme: false
                }
            {elseif in_array($statistic['type'], ['Vertical Bar Chart'])}
                series:
                {
                    bars:
                    {
                        show: true,
                        barWidth: 0.5,
                        lineWidth: 1,
                        align: "center"
                    }
                },
                xaxis:
                {
                    mode: "categories",
                    tickLength: 0
                },
                tooltipOpts:
                {
                    content: "%x: %y",
                    shifts:
                    {
                        x: 20,
                        y: 0
                    },
                    defaultTheme: false
                }
            {elseif strpos($statistic['type'], 'Line Chart') !== false ||
                    strpos($statistic['type'], 'Area Chart') !== false}
                series:
                {
                    lines:
                    {
                        show: true,
                        {if strpos($statistic['type'], 'Area Chart') !== false}
                            fill: true
                        {/if}
                    },
                    points:
                    {
                        show: true
                    }
                },
                xaxis:
                {
                    mode: "time",
                    timeformat: "%Y/%m/%d",
                    axisLabel: 'Time',
                    axisLabelUseCanvas: true,
                },
                yaxis:
                [{
                    position: 'right',
                    axisLabel: 'Amount',
                    axisLabelUseCanvas: true,
                }],
                tooltipOpts:
                {
                    content: "%x: %y",
                    shifts:
                    {
                        x: 20,
                        y: 0
                    },
                    defaultTheme: false
                }
            {/if}
        });
    });
    </script>
{/foreach}
