{foreach $statistics as $statistic}
    <form method="post" id="form-edit-{$statistic['id']}" show="loading">
        <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
        <div class="modal fade" id="edit-modal-{$statistic['id']}" role="dialog" aria-labelledby="EditModalLabel{$statistic['id']}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="EditModalLabel{$statistic['id']}">
                            {$res->i18n->editStatistic}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="padding: 20px 20px 20px 20px">
                            <input type="hidden" name="edit_id" value="{$statistic['id']}">
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    {$res->i18n->name}
                                </span>
                                <input type="text" class="form-control" value="{$statistic['name']}"
                                       id="edit-name-{$statistic['id']}" name="edit_name" />
                            </div>
                            {if in_array(
                                $statistic['type'],
                                ['Horizontal Bar Chart', 'Vertical Bar Chart']
                             )}
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        {$res->i18n->type}
                                    </span>
                                    <select class="form-control"
                                            id="edit-type-{$statistic['id']}"
                                            name="edit_type">
                                        <option value="Horizontal Bar Chart"
                                                {if $statistic['type'] == 'Horizontal Bar Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartBarHorizontal}
                                        </option>
                                        <option value="Vertical Bar Chart"
                                                {if $statistic['type'] == 'Vertical Bar Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartBarVertical}
                                        </option>
                                    </select>
                                </div>
                            {elseif strpos($statistic['type'], 'Line Chart') !== false || strpos($statistic['type'], 'Area Chart') !== false}
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        {$res->i18n->type}
                                    </span>
                                    <select class="form-control"
                                            id="edit-type-{$statistic['id']}"
                                            name="edit_type">
                                        <option value="Yearly Line Chart"
                                                {if $statistic['type'] == 'Yearly Line Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartLineYearly}
                                        </option>
                                        <option value="Quarterly Line Chart"
                                                {if $statistic['type'] == 'Quarterly Line Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartLineQuarterly}
                                        </option>
                                        <option value="Monthly Line Chart"
                                                {if $statistic['type'] == 'Monthly Line Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartLineMonthly}
                                        </option>
                                        <option value="Weekly Line Chart"
                                                {if $statistic['type'] == 'Weekly Line Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartLineWeekly}
                                        </option>
                                        <option value="Daily Line Chart"
                                                {if $statistic['type'] == 'Daily Line Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartLineDaily}
                                        </option>
                                        <option value="Yearly Area Chart"
                                                {if $statistic['type'] == 'Yearly Area Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartAreaYearly}
                                        </option>
                                        <option value="Quarterly Area Chart"
                                                {if $statistic['type'] == 'Quarterly Area Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartAreaQuarterly}
                                        </option>
                                        <option value="Monthly Area Chart"
                                                {if $statistic['type'] == 'Monthly Area Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartAreaMonthly}
                                        </option>
                                        <option value="Weekly Area Chart"
                                                {if $statistic['type'] == 'Weekly Area Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartAreaWeekly}
                                        </option>
                                        <option value="Daily Area Chart"
                                                {if $statistic['type'] == 'Daily Area Chart'}
                                                    selected="selected"
                                                {/if}>
                                            {$res->i18n->chartAreaDaily}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        {$res->i18n->extra}
                                    </span>
                                    <input type="text" class="form-control"
                                           id="edit-extra-{$statistic['id']}"
                                           name="edit_extra"
                                           value='{$statistic['extra']}' />
                                </div>
                            {/if}
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    {$res->i18n->width}
                                </span>
                                <select class="form-control"
                                        id="edit-width-{$statistic['id']}"
                                        name="edit_width">
                                    <option value="6"
                                            {if $statistic['width'] == 6}
                                                selected="selected"
                                            {/if}>
                                        {$res->i18n->sizeSmall}
                                    </option>
                                    <option value="12"
                                            {if $statistic['width'] == 12}
                                                selected="selected"
                                            {/if}>
                                        {$res->i18n->sizeLarge}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    {$res->i18n->order}
                                </span>
                                <input type="text" class="form-control"
                                       value="{$statistic['order_by']}"
                                       id="edit-order-{$statistic['id']}"
                                       name="edit_order" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {if in_array(
                            $statistic['type'],
                            ['Horizontal Bar Chart', 'Vertical Bar Chart']
                         )}
                            <button type="submit" class="btn btn-warning"
                                    name="action" value="UpdateBarChart">
                                {$res->i18n->update}
                            </button>
                        {elseif in_array($statistic['type'], ['Pie Chart'])}
                            <button type="submit" class="btn btn-warning"
                                    name="action" value="UpdatePieChart">
                                {$res->i18n->update}
                            </button>
                        {elseif in_array(
                            $statistic['type'],
                            [
                                'Yearly Line Chart',
                                'Quarterly Line Chart',
                                'Monthly Line Chart',
                                'Weekly Line Chart',
                                'Daily Line Chart',
                                'Yearly Area Chart',
                                'Quarterly Area Chart',
                                'Monthly Area Chart',
                                'Weekly Area Chart',
                                'Daily Area Chart'
                            ]
                         )}
                            <button type="submit" class="btn btn-warning"
                                    name="action" value="UpdateLineAreaChart">
                                {$res->i18n->update}
                            </button>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    $('#form-edit-{$statistic['id']}').submit(function()
    {
        $(document).ready(function()
        {
            $("#loading-modal").modal("show");
        });
    });
    </script>
    <form method="post" id="form-delete-{$statistic['id']}" show="loading">
        <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
        <div class="modal fade" id="delete-modal-{$statistic['id']}" role="dialog"
             aria-labelledby="DeleteModalLabel{$statistic['id']}"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="DeleteModalLabel{$statistic['id']}">
                            {$res->i18n->delete}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="item_id" value="{$statistic['id']}">
                        {$res->i18n->areYouSureToDeleteThisItem}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="action" value="Delete" class="btn btn-danger">{$res->i18n->delete}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    $('#form-delete-{$statistic['id']}').submit(function()
    {
        $(document).ready(function()
        {
            $("#loading-modal").modal("show");
        });
    });
    </script>
{/foreach}
