{config_load file="lang`$smarty.session.lzalanguage`.txt"}
{if count($member['limits']) > 0 && $member['memb_status'] === 'approved' && $member['memb_status_note'] == ''}
    <h3>{#benefit_info#}</h3>
    {foreach $member['limits'] as $plan => $planLimits}
        <h4>{$plan}</h4>
        <table class="table table-striped table-bordered table-hover text-center benefit-info-table">
            <thead>
                <tr>
                    <th class="text-center">{#benefit#}</th>
                    <th class="text-center">{#ben_limit#}</th>
                    <th class="text-center">{#ben_used#}</th>
                    <th class="text-center">{#ben_remained#}</th>
                </tr>
            </thead>
            <tbody>
                {assign var=i value=0}
                {foreach $planLimits as $title => $limits}
                    {$i = $i + 1}
                    {assign var=j value=0}
                    {foreach $limitTypes as $limitType}
                        {if $limits["`$limitType`_limit"] !== null}
                            {$j = $j + 1}
                            <tr>
                                <th class="text-left">
                                    {$i}.{$j} - {$res->i18n->benLimitFor($res->i18n->$limitType, $title)}
                                </th>
                                <td class="text-right">
                                    {if $limits["`$limitType`_limit"] - $limits["`$limitType`_used"] < 0}
                                        {#as_charged#}
                                    {else}
                                        {number_format($limits["`$limitType`_limit"])}
                                        {if strpos($limitType, 'amt') !== false}đ{/if}
                                    {/if}
                                </td>
                                <td class="text-right">
                                    {number_format($limits["`$limitType`_used"])}
                                    {if strpos($limitType, 'amt') !== false}đ{/if}
                                </td>
                                <td class="text-right">
                                    {if strpos($limitType, '_dis_') === false && strpos($limitType, '_vis') === false}
                                        {if $limits["`$limitType`_limit"] - $limits["`$limitType`_used"] < 0}
                                            {#as_charged#}
                                        {else}
                                            {number_format($limits["`$limitType`_limit"] - $limits["`$limitType`_used"])}
                                            {if strpos($limitType, 'amt') !== false}đ{/if}
                                        {/if}
                                    {/if}
                                </td>
                            {/if}
                        </tr>
                    {/foreach}
                {/foreach}
            </tbody>
        </table>
    {/foreach}
    <script type="text/javascript">$('.benefit-info-table').DataTable();</script>
{/if}