<div class="col-xs-4 p_search" style="padding: 2em">
    <div class="col-xs-12">{html_entity_decode($res->setting->{"exclusion`$smarty.session.lzalanguage`"})}</div>
    <div class="col-xs-12" style="text-align: right; margin: 1.5em 0;">
        <a class="btn btn-sm btn-primary" href="{WEBSITE_ROOT}cathay-details" target="_blank">
            {#benefit_info#}
        </a>
    </div>
</div>
<div id="gain_content" class="col-xs-5" style="display: inline;">
    <form id="lza-form" method="post" class="p_search">
        <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
        {if strlen($smarty.session.search.restrictions) > 0}
            <div class="col-xs-12 bold" style="margin: 1.5em 0 0 0;">{#memb_event#}</div>
            <div class="col-xs-12">
                {nl2br($smarty.session.search.restrictions)}
            </div>
        {/if}
        <div class="col-xs-12 bold">
            {$res->i18n->gopHint("`$smarty.session.search.mbr_no` - `$smarty.session.search.mbr_name`")}
        </div>
        <div class="col-xs-6">
            {#incur_date#}<br>
            <input id="incur-date" name="incur_date" type="text" placeholder="{$dateFormat}"
                   class="form-control required" style="width: 100%" {if !$isPcv}readonly="readonly"{/if}
                   value="{if strlen($incurDate)}{$incurDate}{else}{date(DATE_FORMAT)}{/if}">
            {if $isPcv}
                <script type="text/javascript">
                    $("#incur-date").datetimepicker(
                    {
                        format: '{DATE_FORMAT}',
                        timepicker: false
                    });
                </script>
            {/if}
        </div>
        <div class="col-xs-6">
            {#provider#}<br>
            <select id="provider" name="provider" class="form-control" style="width: 100%">
                <option></option>
                {foreach $providers as $provider}
                    <option value="{$provider['id']}"
                            {if $provider['id'] === $smarty.session.user.provider || $provider['id'] === $provId}
                                selected="selected"
                            {/if}
                            {if 1 !== $smarty.session.user.provider && $isPcv === false &&
                                $provider['id'] !== $smarty.session.user.provider}
                                disabled="disabled"
                            {/if}>
                        {$provider['name']}
                    </option>
                {/foreach}
            </select>
            <script type="text/javascript">
                $.fn.select2.defaults.set( "theme", "bootstrap" );
                $('#provider').val('{$provId}');
                $('#provider').select2({ placeholder: '{#provider#}' });
            </script>
        </div>
        <div class="col-xs-6">
            {#call_time#}<br>
            <input id="call-time" name="call_time" type="text" placeholder="{$datetimeFormat}"
                   class="form-control required" style="width: 100%"
                   value="{if strlen($callTime)}{$callTime}{else}{date(DATETIME_FORMAT)}{/if}">
            <script type="text/javascript">
                $("#call-time").datetimepicker(
                {
                    format: '{DATETIME_FORMAT}',
                    timepicker: true
                });
            </script>
        </div>
        <div class="col-xs-6">
            {#tel_no#}<br>
            <input id="tel-no" name="tel_no" type="text" placeholder="XXXXXXXXXX"
                   class="form-control required" style="width: 100%"
                   value="{if strlen($telNo)}{$telNo}{/if}">
        </div>
        <div class="col-xs-12">
            {#diagnosis#}<br>
            <textarea id="diagnosis" name="diagnosis" placeholder="{#diagnosis#}"
                      class="form-control required" style="width: 100%">{$diagnosis}</textarea>
        </div>
        <div class="col-xs-12">
            {#note#}<br>
            <textarea id="note" name="note" placeholder="{#note#}"
                      class="form-control required" style="width: 100%">{$note}</textarea>
        </div>
        <div class="col-xs-12 bold" style="margin: 1.5em 0 0 0;">{#benefit#}:</div>
        <div class="col-xs-12">
            <select multiple="multiple" id="benefits" name="benefits[]" class="form-control select2-multiple">
                {foreach $benefits as $benefit}
                    <option value="{$benefit['cathay_head_id']}">{$benefit["ben_desc`$smarty.session.lzalanguage`"]}</option>
                {/foreach}
            </select>
        </div>
        <script type="text/javascript">$('#benefits').select2({ placeholder: '{#benefit#}' });</script>
        {foreach $benefits as $benefit}
            <div class="col-xs-12 amount-select" id="gop-amt-{$benefit['cathay_head_id']}">
                <b>{$benefit["ben_desc`$smarty.session.lzalanguage`"]}</b>
                {$benefit["ben_note`$smarty.session.lzalanguage`"]}<br>
                <div class="col-xs-6">
                    {#pres_amt#}<br />
                    <input type="text" inputmode="numeric" class="form-control required pres-amt" style="width: 100%"
                            pattern="[0-9]+([\.,][0-9]+([\.,][0-9]+([\.,][0-9]+)))?" placeholder="1,000,000"
                            id="pres-amt-{$benefit['cathay_head_id']}" name="pres_amt_{$benefit['cathay_head_id']}">
                </div>
                <div class="col-xs-6">
                    {#app_amt#}<br />
                    <input type="text" inputmode="numeric" class="form-control required app-amt" style="width: 100%"
                            pattern="[0-9]+([\.,][0-9]+([\.,][0-9]+([\.,][0-9]+)))?" placeholder="1,000,000"
                            id="app-amt-{$benefit['cathay_head_id']}" name="app_amt_{$benefit['cathay_head_id']}">
                </div>
            </div>
        {/foreach}
        <script type="text/javascript">
            $('div.amount-select').hide();
            $('#benefits').change(function ()
            {
                $('.amount-select').hide();
                $('.pres-amt').attr("disabled", "disabled");
                $('.app-amt').attr("disabled", "disabled");

                var values = $('#benefits').val();
                if (values != null)
                {
                    $.each(values, function(index, value)
                    {
                        $('#gop-amt-' + value).show();
                        $('#pres-amt-' + value).removeAttr("disabled");
                        $('#app-amt-' + value).removeAttr("disabled");
                    });
                }
            });
        </script>
        <div class="col-xs-12" style="text-align: right; margin: 1.5em 0;">
            <button type="submit" class="btn btn-sm btn-primary" value="gop" name="action">
                {#gop_button#}
            </button>
        </div>
        <br class="clr">
    </form>
</div>
<div class="col-xs-3">
    <h1>{#forms#}</h1>
    {foreach $forms as $form}
        <div>
            <h3>{$form["name`$smarty.session.lzalanguage`"]}</h3>
            <a download="" href="{$form["path`$smarty.session.lzalanguage`"]}">{#download#}</a> |
            <a target="_blank" href="{$form["path`$smarty.session.lzalanguage`"]}">{#view#}</a>
        </div>
    {/foreach}
</div>
<form method="post" id="edit-db-form" accept-charset="utf-8" show="loading">
    <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
    <div class="modal fade" id="edit-db-modal" role="dialog"
         aria-labelledby="edit-db-modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="edit-db-modal-label">
                        {$res->i18n->edit} {#gop#} <span id="edit-db-ref-no-label"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <span>{#note#}</span>
                            <textarea class="form-control" id="edit-note" name="note"></textarea>
                        </div>
                        <div class="col-lg-6">
                            <span>{#call_time#}</span>
                            <input type="text" class="form-control" id="edit-call-time" name="call_time" />
                            <script type="text/javascript">
                                $("#edit-call-time").datetimepicker(
                                {
                                    format: '{DATETIME_FORMAT}',
                                    timepicker: true
                                });
                            </script>
                        </div>
                        <div class="col-lg-6">
                            <span>{#tel_no#}</span>
                            <input type="text" class="form-control" id="edit-tel-no" name="tel_no" />
                        </div>
                        <div class="col-lg-6">
                            <span>{#pres_amt#} (VND)</span>
                            <input type="text" class="form-control" id="edit-pres-amt" name="pres_amt" />
                        </div>
                        <div class="col-lg-6">
                            <span>{#app_amt#} (VND)</span>
                            <input type="text" class="form-control" id="edit-app-amt" name="app_amt" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="edit-id" name="id" />
                    <button type="submit" name="action" value="update" class="btn btn-success">
                        {$res->i18n->update}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post" id="delete-db-form" accept-charset="utf-8" show="loading">
    <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
    <div class="modal fade" id="delete-db-modal" role="dialog"
         aria-labelledby="delete-db-modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="delete-db-modal-label">
                        {$res->i18n->delete} {#gop#} <span id="delete-db-ref-no-label"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
                            <h4>{#delete_gop_question#}</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="delete-id" name="id" />
                    <button type="submit" name="action" value="delete" class="btn btn-danger">
                        {$res->i18n->delete}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
