{config_load file="lang`$smarty.session.lzalanguage`.txt"}
{if count($gops) > 0}
    <h4>{#gop_table#} {$smarty.session.search.memb_ref_no} - {$smarty.session.search.mbr_name}</h4>
    <table class="table table-striped table-bordered table-hover text-center" id="gop-info-table">
        <thead>
            <tr>
                <th class="text-center">{#db_ref_no#}</th>
                <th class="text-center">{#time#}</th>
                <th class="text-center">{#policy_no#}</th>
                <th class="text-center">{#provider#}</th>
                <th class="text-center">{#diagnosis#}</th>
                <th class="text-center">{#benefit#}</th>
                <th class="text-center">{#pres_amt#} (VND)</th>
                <th class="text-center">{#app_amt#} (VND)</th>
                <th class="text-center">{#claimed_amount#}</th>
                <th class="text-center">{#incur_date#}</th>
                <th class="text-center">{#note#}</th>
                <th class="text-center">{#call_time#}</th>
                <th class="text-center">{#tel_no#}</th>
                <th class="text-center">{#status#}</th>
                <th class="text-center">{$res->i18n->action}</th>
            </tr>
        </thead>
        <tbody>
            {assign var=now value=date_create_from_format('Y-m-d H:i:s', date("Y-m-d H:i:s"))}
            {foreach $gops as $gop}
                {assign var=time value=date_create_from_format('Y-m-d H:i:s.u', $gop['time'])}
                {assign var=incurDate value=date_create_from_format('Y-m-d', $gop['incur_date'])}
                {if isset($gop['pres_amt'])}
                    {assign var=presAmt value=$gop['pres_amt']}
                {else}
                    {assign var=presAmt value=0}
                {/if}
                {if isset($gop['app_amt'])}
                    {assign var=appAmt value=$gop['app_amt']}
                {else}
                    {assign var=appAmt value=0}
                {/if}
                {if isset($gop['op_amt'])}
                    {assign var=opAmt value=$gop['op_amt']}
                {else}
                    {assign var=opAmt value=0}
                {/if}
                <tr>
                    <td class="text-left">{$gop['db_ref_no']}</td>
                    <td class="text-center" data-sort="{$time->format('Y-m-d H:i:s')}">{$time->format(DATETIME_FORMAT)}</td>
                    <td class="text-left">{$gop['pocy_no']}</td>
                    <td class="text-left">{$gop['prov_name']}</td>
                    <td class="text-left">{str_replace('; ', '<br />- ', $gop['diag_name'])}</td>
                    <td class="text-left">{$gop['benefit']}</td>
                    <td class="text-right" data-sort="{sprintf('%015d', $presAmt)}">{number_format($presAmt)}đ</td>
                    <td class="text-right" data-sort="{sprintf('%015d', $appAmt)}">{number_format($appAmt)}đ</td>
                    <td class="text-right" data-sort="{sprintf('%015d', $opAmt)}">{number_format($opAmt)}đ</td>
                    <td class="text-center" data-sort="{$incurDate->format('Y-m-d')}">{$incurDate->format(DATE_FORMAT)}</td>
                    <td class="text-center">{$gop['note']}</td>
                    <td class="text-center">{$gop['call_time']}</td>
                    <td class="text-center">{$gop['tel_no']}</td>
                    <td class="text-center">{$gop['status_desc']}</td>
                    <td class="text-center">
                        {if $gop['status'] === 'CF' && $time->diff($now)->days === 0}
                            <form method="post">
                                <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
                                <input type="hidden" name="id" value="{$gop['id']}" />
                                <input type="hidden" id="db-note-{$gop['id']}" value="{$gop['note']}" />
                                <input type="hidden" id="db-call-time-{$gop['id']}" value="{date(DATETIME_FORMAT, strtotime($gop['call_time']))}" />
                                <input type="hidden" id="db-tel-no-{$gop['id']}" value="{$gop['tel_no']}" />
                                <input type="hidden" id="db-pres-amt-{$gop['id']}" value="{$presAmt}" />
                                <input type="hidden" id="db-app-amt-{$gop['id']}" value="{$appAmt}" />
                                <button type="button" class="btn btn-lg btn-link" title="{#update#}" id="db-update-{$gop['id']}">
                                    <i class="fa fa-pencil text-warning"></i>
                                </button>
                                <script type="text/javascript">
                                    $('#db-update-{$gop["id"]}').click(function()
                                    {
                                        $('#edit-db-ref-no-label').html('{$gop["db_ref_no"]}');
                                        $('#edit-id').val('{$gop["id"]}');
                                        $('#edit-note').val($('#db-note-{$gop["id"]}').val());
                                        $('#edit-call-time').val($('#db-call-time-{$gop["id"]}').val());
                                        $('#edit-tel-no').val($('#db-tel-no-{$gop["id"]}').val());
                                        $('#edit-pres-amt').val($('#db-pres-amt-{$gop["id"]}').val());
                                        $('#edit-app-amt').val($('#db-app-amt-{$gop["id"]}').val());
                                        $('#edit-db-modal').modal('show');
                                    });
                                </script>
                                <button type="button" class="btn btn-lg btn-link" title="{#delete#}" id="db-delete-{$gop['id']}">
                                    <i class="fa fa-trash text-danger"></i>
                                </button>
                                <script type="text/javascript">
                                    $('#db-delete-{$gop["id"]}').click(function()
                                    {
                                        $('#delete-db-ref-no-label').html('{$gop["db_ref_no"]}');
                                        $('#delete-id').val('{$gop["id"]}');
                                        $('#delete-db-modal').modal('show');
                                    });
                                </script>
                            </form>
                        {/if}
                        <button type="button" class="btn btn-lg btn-link" title="{#history#}" id="history-{$gop['id']}-button">
                            <i class="fa fa-history text-primary"></i>
                        </button>
                        <script type="text/javascript">
                            $('#history-{$gop["id"]}-button').click(function()
                            {
                                if ($('#gop-history-table-holder-{$gop["id"]}').hasClass('hidden'))
                                {
                                    $('.gop-history-table-holder').addClass('hidden');
                                    $('#gop-history-table-holder-{$gop["id"]}').removeClass('hidden');
                                    $('html, body').animate(
                                        { scrollTop: $('#gop-history-table-holder-{$gop["id"]}').offset().top },
                                        'slow'
                                    );
                                }
                                else
                                {
                                    $('.gop-history-table-holder').addClass('hidden');
                                    $('#gop-history-table-holder-{$gop["id"]}').addClass('hidden');
                                }
                            });
                        </script>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
    <script type="text/javascript">$('#gop-info-table').DataTable();</script>
    {foreach $gops as $gop}
        <div id="gop-history-table-holder-{$gop['id']}" class="gop-history-table-holder hidden">
            <table class="table table-striped table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th class="text-center">{#time#}</th>
                        <th class="text-center">{#pres_amt#} (VND)</th>
                        <th class="text-center">{#app_amt#} (VND)</th>
                        <th class="text-center">{#status#}</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $gop['history'] as $history}
                        <tr class="history">
                            <td class="text-center">{$history['valid_from']}</td>
                            <td class="text-right">{number_format($history['pres_amt'])}đ</td>
                            <td class="text-right">{number_format($history['app_amt'])}đ</td>
                            <td class="text-center">{$history['status']}</td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    {/foreach}
    <script type="text/javascript">$('#gop-history-table').DataTable();</script>
{/if}