{config_load file="lang`$smarty.session.lzalanguage`.txt"}
{if count($claims) > 0}
    <h4>{#claim_table#} {$smarty.session.search.memb_ref_no} - {$smarty.session.search.mbr_name}</h4>
    <table class="table table-striped table-bordered table-hover text-center" id="claim-info-table">
        <thead>
            <tr>
                <th class="text-center">No.</th>
                <th class="text-center">{#cl_no#}</th>
                <th class="text-center">{#incur_date_from#}</th>
                <th class="text-center">{#incur_date_to#}</th>
                <th class="text-center">{#ben_type#}</th>
                <th class="text-center">{#ben_head#}</th>
                <th class="text-center">{#diagnosis#}</th>
                <th class="text-center">{#status#}</th>
                <th class="text-center">{#provider#}</th>
                <th class="text-center">{#pres_amt#}</th>
                <th class="text-center">{#app_amt#}</th>
            </tr>
        </thead>
        <tbody>
            {foreach $claims as $no => $claim}
                {assign var=incurDateFm value=date_create_from_format(DATE_FORMAT, $claim['incur_date_from'])}
                {assign var=incurDateTo value=date_create_from_format(DATE_FORMAT, $claim['incur_date_to'])}
                <tr>
                    <td class="text-right">{$no + 1}</td>
                    <td class="text-center" data-sort="{sprintf('%015d', $claim['cl_no'])}">{$claim['cl_no']}</td>
                    <td class="text-center" data-sort="{$incurDateFm->format('Y-m-d')}">{$claim['incur_date_from']}</td>
                    <td class="text-center" data-sort="{$incurDateTo->format('Y-m-d')}">{$claim['incur_date_to']}</td>
                    <td class="text-center">{$claim['ben_type']}</td>
                    <td class="text-center">{$claim['ben_head']}</td>
                    <td class="text-center">{$claim["diag_desc`$smarty.session.lzalanguage`"]}</td>
                    <td class="text-center">{$claim['status']}</td>
                    <td class="text-center">{$claim['prov_name']}</td>
                    <td class="text-right" data-sort="{sprintf('%015d', $claim['pres_amt'])}">{number_format($claim['pres_amt'])}đ</td>
                    <td class="text-right" data-sort="{sprintf('%015d', $claim['app_amt'])}">{number_format($claim['app_amt'])}đ</td>
                </tr>
            {/foreach}
        </tbody>
    </table>
    <script type="text/javascript">$('#claim-info-table').DataTable();</script>
{/if}