form.top_search {
    /*margin: 0.5em 4em 0.5em 1em ;*/
    margin: 0;
    /*padding-top: 0.5em;*/
    padding: 0.3em 0 0 0.3em;
    position: absolute;
    max-width: 40em;
}
form.top_search span.sub {
    font-size: 0.8em;
    color: #AAA;
}
form.top_search div, .top_search {
    float: left;
    /*margin-right: 1em;*/
}

#policy_search_listing, #policy_search_detail {
    float: left;
    display: inline;
    min-height: 100%;
    height: auto;
    padding: 0;
}

#policy_search_listing {
    border-right: 0.1em solid #e7e7e7;
}

#policy_search_detail {
    line-height: 2em;
    border-left: 0.1em solid #e7e7e7;
}

.pol_item {
    padding: 1em 0.5em 0.5em 0.5em;
    border: 0.1em solid #e7e7e7;
    position: relative;
    cursor: pointer;
    overflow: auto;
}
.pol_item.active {
    background-color: #e1f7ff;
}
.pol_item span{
    display: block;
}
.pol_item span.hname, .phead {
    font-size: 1.1em;
    font-weight: bold;
}
.hname.conf {
    padding-right: 4em;
}
.pol_item span.sub {
    font-size: 0.9em;
}

.pol_status {
    display: block;
    padding: 0em 0.3em;
    border: 0.2em solid;
    margin-top: 0.5em;
    float: right;
    /*position: absolute;*/
    /*right: 0.5em;*/
    /*bottom: 1.2em;*/
    color: #fff;
    font-weight: bold;
    font-size: 0.8em;
}
.pol_status.active {
    border-color: #26c400;
    background-color: #4bce33;
}
.pol_status.inactive {
    border-color: #c10202;
    background-color: #c10000;
}

.policy_confirm_form {
    line-height: 2em;
    margin: auto;
}
.pol_detail div.active {
    color: #FFF;
    background-color: #4bce33;
}
.pol_detail div.inactive {
    color: #FFF;
    background-color: #c10000;
}
.phead {
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: 1.3em;
}
.phead span.status {
    float: right;
    margin-left: 1em;
}
.head span.hname {
    margin: auto;
}
.pdetail {
    display: table;
    width: 100%;
}
.pdetail div:first-child {
    font-weight: bold;
}

.panel-body {
    padding: 1em 1em 2em;
}

.coverage {
    margin-left: 0.8em;
    font-weight: bold;
    text-shadow: 2px 2px #CCC;
}
.confirm_phead {
    text-align: center;
    padding-bottom: 1em;
    font-weight: bold;
}

#hbs_table th, #hbs_table td{
    padding: 5px;
}

ul.top_search_ins {
    padding: 0;
    margin: 0;
}

ul.top_search_ins li {
    list-style: none;
    float: left;
    position: relative;
    line-height: 20px;
}

ul.top_search_ins img {
    border: 3px solid transparent;
    cursor: pointer;
}

#top_menu_p_search ul.top_search_ins img {
    border-width: 2px;
}

ul.top_search_ins li div.active {
    position: relative;
}

ul.top_search_ins li div.active img {
    border-color: #2A3383;
}

ul.top_search_ins li div.active:before {
    content: url("../im/icon_check.png");
    position: absolute;
    right: 0;
    top: 0;
}
.drawer-default .drawer-menu-item{
    color: #fbff6f !important;
}

.sidebar_submenu{
    display:none;
    width: 100%
}

.sidebar_submenu a{
    color: #ffffff !important;
    font-size: 16px;
}

.drawer_menu_with_sub:hover, .sidebar_submenu a:hover{
    text-decoration: underline !important;
}

.drawer_menu_with_sub{
    cursor:pointer;
}

.sub_menu_open_drawer_background{
    background-color: #185CAA;
}

.side_drawer_menu li a:hover, .sub_menu_open_drawer_item a:hover{
    color: #fbff6f !important;
}

.side_drawer_menu li{
    padding: 8px 15px !important;
}

.contact_medsure{
    background-color: #eeeeee;
    padding: 25px;
}
.row_contact_icon{
    padding-top: 25px;
}
.icon_contact{
    padding: 10px;
}

.contact_company{
    background-color: #ffffff;
    padding: 25px;
}

.contact_company_1{
    background-color: #eeeeee;
    padding: 25px;
}
.force_middle{
    padding: 25px;
}
.close_ab{
    cursor: pointer;
    float: right;
    margin-right: -70px;
    margin-top: -70px;
}
.menu-anchor {
    line-height: 42px !important;
    display: inline-block !important;
}
.select2-selection__choice__remove {
    color: #fff !important;
}
.select2-selection__choice {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
