<div id="sidebar-wrapper">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                {if isset($smarty.session.user.role)}
                    <li>
                        <a href="{$regionPath}/dashboard">
                            <i class="fa fa-dashboard fa-fw"></i>
                            <span class="masked">
                                {$res->i18n->dashboard}
                            </span>
                        </a>
                    </li>
                    {include file="public/sidebar/menu/Master.html"}
                    {if $smarty.session.user.is_admin === 'Yes'}
                        <li id="file-browser">
                            <a href="#">
                                <i class="fa fa-folder-open fa-fw"></i>
                                <span class="masked">
                                    {$res->i18n->fileBrowser}
                                </span>
                            </a>
                        </li>
                    {/if}
                {/if}
            </ul>
        </div>
    </div>
</div>
