<form id="{$id}" name="{$name}" method="post" accept-charset="utf-8">
    {$inputs}
    <div style="text-align: center" class="col-lg-12">
        {$updateButton}
        &nbsp;
        {$deleteButton}
        &nbsp;
        <a class="btn btn-outline btn-default" href="{$reloadLink}">
            {$reloadLabel}
        </a>
        &nbsp;
        <a class="btn btn-outline btn-default" href="{$cancelLink}">
            {$cancelLabel}
        </a>
        &nbsp;
        <a class="btn btn-outline btn-default" href="{$returnLink}">
            {$returnLabel}
        </a>
    </div>
</form>
