<div id="gain_content" style="display: inline;" class="gain-container login">
    <form id="lza-form" class="form-signin" method="post">
        <input type="hidden" name="{$tokenName}_token" value="{$tokenValue}" />
        <div class="login-header">
            <a><img src="{CLIENT_RES_PATH}images/logo.png"></a>
        </div>
        <div class="alert alert-warning" role="alert">
            Please specify email provided by Pacific Cross Vietnam
        </div>
        <label for="inputUsername" class="sr-only">Email</label>
        <input type="text" rel="inputEmail"
               name="inputEmail" id="inputEmail"
               class="form-control"
               placeholder="youremail@yourdomain"
               required="" autofocus="" value="">
        <button class="btn btn-lg btn-warning btn-block"
                type="submit" name="action" value="ForgetPassword">
            Request Password Change
        </button>
    </form>
    <script type="text/javascript" src="{WEBSITE_ROOT}resources/scripts/form_validate.js"></script>
</div>
